<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Team 54</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <script src="https://kit.fontawesome.com/bc4d064067.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'layouts/mobmenu' %>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
